{% autoescape off %}
Hi {{ user.get_username }},

You're receiving this email because you (or someone else) requested a password reset for your Pushup Counter account.

Please click the link below to reset your password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you didn't request this password reset, you can safely ignore this email. Your password will remain unchanged.

This link is valid for 24 hours only.

Keep pushing! 💪

---
Pushup Counter App
{{ domain }}
{% endautoescape %}

